body {
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

.SetPaper {
  width: 297mm;
  height: 210mm;
  background: #fff;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.Boxs {
  position: absolute;
  width: 10.8in;
  height: 7.5in;
  border: 1px #000 solid;
  z-index: 1;
}

.Boxs .allCol {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.session1 {
  height: 14%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.session1 .row1 {
  width: 10%;
  height: 100%;
  border-right: 1px #000 solid;
}

.session1 .row1 .row1-col {
  height: 39%;
  display: flex;
  justify-content: center;
}

.session1 .row1 .row1-cols {
  height: 19.5%;
  background-color: rgba(226, 225, 225, 0.753);
}

.bgg {
  background-color: rgba(226, 225, 225, 0.753);
}

.bb {
  border-bottom: 1px black solid;
}

.bt {
  border-top: 1px black solid;
}

.bl {
  border-left: 1px black solid;
}

.br {
  border-right: 1px black solid;
}

.tc {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fw {
  font-weight: bold;
}

.fs1 {
  font-size: 8px;
}

.session1 .row1 .row1-col img {
  height: 100%;
  width: 70%;
  transform: scale(1.6);
}

.session1 .row2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.session1 .row2 .row2-col1 {
  height: 40%;
  display: flex;
  flex-direction: row;
}

.session1 .row2 .row2-col1 .row2-col1-row1 {
  width: 50%;
  height: 100%;
  font-size: 14;
}

.session1 .row2 .row2-col1 .row2-col1-row2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col1 .row2-col1-row2-col1-row1 {
  width: 27%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col1 .row2-col1-row2-col1-row2 {
  width: 27%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col1 .row2-col1-row2-col1-row3 {
  width: 27%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col1 .row2-col1-row2-col1-row4 {
  width: 19%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col2 .row2-col1-row2-col2-row1 {
  width: 27%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col2 .row2-col1-row2-col2-row2 {
  width: 27%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col2 .row2-col1-row2-col2-row3 {
  width: 27%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col2 .row2-col1-row2-col2-row4 {
  width: 19%;
}

.session1 .row2 .row2-col2 {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 {
  width: 100%;
  height: 33.3%;
  display: flex;
  flex-direction: row;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row1 {
  width: 32%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row2 {
  width: 11%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row3 {
  width: 20.3%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row4 {
  width: 11%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row5 {
  width: auto;
}

.session1 .row2 .row2-col2 .row2-col2-col2 {
  width: 100%;
  height: 33.3%;
  display: flex;
  flex-direction: row;
}

.session1 .row2 .row2-col2 .row2-col2-col2 .row2-col2-col2-row1 {
  width: 32%;
}

.session1 .row2 .row2-col2 .row2-col2-col2 .row2-col2-col2-row2 {
  width: 11%;
}

.session1 .row2 .row2-col2 .row2-col2-col2 .row2-col2-col2-row3 {
  width: 56%;
}

.session1 .row2 .row2-col2 .row2-col2-col3 {
  width: 100%;
  height: 33.3%;
}

/* secsion 2*/

.session2 {
  height: 14%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.session2 .col1 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
}

.session2 .col1 .col1-row1 {
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session2 .col1 .col1-row2 {
  width: 8%;
  height: 100%;
}

.session2 .col2 {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.session2 .col2 .col2-row1 {
  width: 91.4%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session2 .col2 .col2-row1 .col2-row1-col {
  width: 100%;
  height: 16%;
}

.session2 .col2 .col2-row2 {
  width: 8%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session2 .col2 .col2-row2 .col2-row2-col {
  width: 100%;
  height: 15%;
}

/* session 3 */
.session3 {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.session3 .col1 {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
}
.session3 .col2 {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
}
.at {
  display: flex;
  align-items: center;
  justify-content: start;
}
.session3 .col1 .row {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session3 .col1 .rows {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.session3 .col1 .row .row-col1 {
  width: 100%;
  height: 15%;
}
.session3 .col1 .row .row-col2 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
}
.session3 .col1 .row .row-col2 .row{
  width: 25%;
  height: 100%;
  padding-left: 5px ;

}
.session3 .col1 .rows .row {
  width: 50%;
  height: 30%;
}
.session3 .col2 .row{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session3 .col2 .rows1{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.session3 .col2 .rows{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session3 .col2 .row .col{
  width: 80%;
  height: 17%;
  display: flex;
  flex-direction: row;
}
.session3 .col2 .row .col .col-row{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 5px ;
}
.session3 .col2 .row .col .col-rows{ 
  width: 40%;
  height: 100%;
}
.session3 .col2 .rows .col {
  width: 100%;
  height: 12%;
}
.session3 .col2 .rows .cols {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
}
.session3 .col2 .rows1 .col {
  width: 80%;
  height: 10%;
}
.session3 .col2 .rows1 .cols {
  width: 80%;
  height: 12%;
}
.session3 .col2 .rows1 .cols1 {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.session3 .col2 .rows1 .cols1 .cols1-row{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  flex-direction: column;
}
.session3 .col2 .rows1 .cols1 .cols1-rows{
  width: 30%;
  height: 100%;
}
.session3 .col2 .rows .cols .row1{
  width: 20%;
  height: 100%;
}
.session3 .col2 .rows .cols .row2{
  width: 30%;
  height: 100%;
}
.session3 .col2 .rows .cols .row3{
  width: 25%;
  height: 100%;
}

/* session 4 */
.session4 {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.session4 .col1 {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.session4 .col2 {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.session4 .col2 .row1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.session4 .col2 .row1 .row1-col1 {
  height: 5%;
  width: 100%;
}

.session4 .col2 .row1 .row1-col2 {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.session4 .col2 .row1 .row1-col2 .col2-row1 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session4 .col2 .row1 .row1-col2 .col2-row2 {
  width: 20%;
  height: 100%;
}
.session4 .col2 .row1 .row1-col2 .col2-row1 .col2-row1-col {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
}

.session4 .col2 .row1 .row1-col2 .col2-row2 .col2-row1-col {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
}

.u {
  text-decoration: underline;
  text-underline-position: under;
}
.t10 {
  width: 100%;
  height: 7%;
}

th,
td ,table{
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  
}

td {
  height: 11%;
}

.pl {
  padding-left: 2px;
}

/* ----------------- page 2 ------------- */
.boxs2 {
  position: absolute;
  width: 10.8in;
  height: 6.8in;
  z-index: 1;
}


.boxs2 .allCol {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.session5 {
  width: 100%;
  height: 7%;
  border: 1px #000 solid;
  display: flex;
  flex-direction: row;
}

.session5 .row1 {
  display: flex;
  justify-content: center;
  width: 9%;
  height: 100%;
}

.session5 .row1 img {
  height: 100%;
  width: 70%;
  transform: scale(1.6);
}

.session5 .row2 {
  width: 91%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.session5 .row2 .row2-row1 {
  width: 50%;
  height: 100%;
}

.session5 .row2 .row2-row2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.session5 .row2 .row2-row2 .row2-row2-row {
  width: 26%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session5 .row2 .row2-row2 .row2-row2-row .row2-row2-row-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.session5 .row2 .row2-row2 .row2-row2-rows {
  width: 22%;
  height: 100%;
}

.session6 {
  width: 99.8%;
  height: 5%;
  display: flex;
  align-items: end;
}

.session7 {
  width: 100.2%;
  height: 83%;
}

.set-table{
  width: 100.1%;
  height: 83%;
}

.session7 table {
  width: 100%;
  height: 100%;
}

.session7 .row1 {
  width: 100%;
  height: 10%;
}
.session7 .row2 {
  width: 100%;
  height: 10%;
}

/* ------------------ page 4 ----------------- */

.session9 {
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
}
.session9 .row1 {
  display: flex;
  justify-content: center;
  width: 9%;
  height: 100%;
}
.session9 .row1 img {
  height: 100%;
  width: 70%;
  transform: scale(1.6);
}
.session9 .row2 {
  width: 91%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.session9 .row2 .row2-row1 {
  width: 50%;
  height: 100%;
}
.session9 .row2 .row2-row2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.session9 .row2 .row2-row2 .row2-row2-row {
  width: 26%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session9 .row2 .row2-row2 .row2-row2-row .row2-row2-row-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}
.session9 .row2 .row2-row2 .row2-row2-rows {
  width: 22%;
  height: 100%;
}
.session10 {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pl {
  padding-left: 2px;
}

.session11 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.session11 .row {
  width: 50%;
  height: 95%;
  margin: 1rem 2rem 0 0;
}

.session11 .rows {
  width: 50%;
  height: 95%;
    margin: 1rem 0 0 2rem;
}


.session12 {
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: row;
}
.session12 .row{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.session12 .row1{
  width: 20%;
  height: 100%;
  margin-top: 10px;
}
.session12 .row2{
  width: 40%;
  height: 100%;
  margin-top: 10px;
}
.session12 .row2 .col{
  width: 80%;
  height: 5%;
}
.session12 .row3{
  width: 40%;
  height: 100%;
  margin-top: 10px;
}
.session12 .row3 .col{
  width: 95%;
  height: 5%;
}
.session12 .row1{
  width: 20%;
  height: 100%;
  margin-top: 10px;
}

.session12 .rows{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session12 .rows .col{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 2rem;
}
.session12 .rows .col .col-col{
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
}
.session12 .rows .cols{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}
.session12 .rows .col .row{
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 2rem;
}
.session12 .rows .cols .row{
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.session12 .rows .cols .row-col1 {
  width: 100%;
  height: 25%;
}
.session12 .rows .cols .row-col2 {
  width: 100%;
  height: 50%;
}

