body {
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.SetPaper {
  width: 297mm;
  height: 210mm;
  background: #fff;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.Boxs {
  position: absolute;
  width: 10.8in;
  height: 6in;
  border: 1px #000 solid;
  z-index: 1;
}

.Boxs .allCol {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.session1 {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.session1 .row1 {
  width: 10%;
  height: 100%;
  border-right: 1px #000 solid;
}

.session1 .row1 .row1-col {
  height: 39%;
  display: flex;
  justify-content: center;
}

.session1 .row1 .row1-cols {
  height: 19.5%;
  background-color: rgba(226, 225, 225, 0.753);
}

.bgg {
  background-color: rgba(226, 225, 225, 0.753);
}

.bb {
  border-bottom: 1px black solid;
}

.bt {
  border-top: 1px black solid;
}

.bl {
  border-left: 1px black solid;
}

.br {
  border-right: 1px black solid;
}

.tc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ff {
  font-family: Arial, sans-serif;
}

.fw {
  font-weight: 600;
}

.fs {
  font-size: 10px;
}

.fs1 {
  font-size: 8px;
}


.session1 .row1 .row1-col img {
  height: 100%;
  width: 70%;
  transform: scale(1.6);
}

.session1 .row2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.session1 .row2 .row2-col1 {
  height: 40%;
  display: flex;
  flex-direction: row;
}

.session1 .row2 .row2-col1 .row2-col1-row1 {
  width: 50%;
  height: 100%;
  font-size: 14;
}

.session1 .row2 .row2-col1 .row2-col1-row2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.session1
  .row2
  .row2-col1
  .row2-col1-row2
  .row2-col1-row2-col1
  .row2-col1-row2-col1-row1 {
  width: 27%;
}

.session1
  .row2
  .row2-col1
  .row2-col1-row2
  .row2-col1-row2-col1
  .row2-col1-row2-col1-row2 {
  width: 27%;
}

.session1
  .row2
  .row2-col1
  .row2-col1-row2
  .row2-col1-row2-col1
  .row2-col1-row2-col1-row3 {
  width: 27%;
}

.session1
  .row2
  .row2-col1
  .row2-col1-row2
  .row2-col1-row2-col1
  .row2-col1-row2-col1-row4 {
  width: 19%;
}

.session1 .row2 .row2-col1 .row2-col1-row2 .row2-col1-row2-col2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.session1
  .row2
  .row2-col1
  .row2-col1-row2
  .row2-col1-row2-col2
  .row2-col1-row2-col2-row1 {
  width: 27%;
}

.session1
  .row2
  .row2-col1
  .row2-col1-row2
  .row2-col1-row2-col2
  .row2-col1-row2-col2-row2 {
  width: 27%;
}

.session1
  .row2
  .row2-col1
  .row2-col1-row2
  .row2-col1-row2-col2
  .row2-col1-row2-col2-row3 {
  width: 27%;
}

.session1
  .row2
  .row2-col1
  .row2-col1-row2
  .row2-col1-row2-col2
  .row2-col1-row2-col2-row4 {
  width: 19%;
}

.session1 .row2 .row2-col2 {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 {
  width: 100%;
  height: 33.3%;
  display: flex;
  flex-direction: row;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row1 {
  width: 32%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row2 {
  width: 11%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row3 {
  width: 20.3%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row4 {
  width: 11%;
}

.session1 .row2 .row2-col2 .row2-col2-col1 .row2-col2-col1-row5 {
  width: auto;
}

.session1 .row2 .row2-col2 .row2-col2-col2 {
  width: 100%;
  height: 33.3%;
  display: flex;
  flex-direction: row;
}

.session1 .row2 .row2-col2 .row2-col2-col2 .row2-col2-col2-row1 {
  width: 32%;
}

.session1 .row2 .row2-col2 .row2-col2-col2 .row2-col2-col2-row2 {
  width: 11%;
}

.session1 .row2 .row2-col2 .row2-col2-col2 .row2-col2-col2-row3 {
  width: 56%;
}

.session1 .row2 .row2-col2 .row2-col2-col3 {
  width: 100%;
  height: 33.3%;
}

/* secsion 2*/

.session2 {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.session2 .col1 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
}

.session2 .col1 .col1-row1 {
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session2 .col1 .col1-row2 {
  width: 8%;
  height: 100%;
}

.session2 .col2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.session2 .col2 .col2-row1 {
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session2 .col2 .col2-row1 .col2-row1-col {
  width: 100%;
  height: 16.6%;
}

.session2 .col2 .col2-row2 {
  width: 8%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session2 .col2 .col2-row2 .col2-row2-col {
  width: 100%;
  height: 16.6%;
}

/* session 3 */
.session3 {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.session3 .row1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session3 .row1 .col1 {
  width: 100%;
  height: 5%;
}

.session3 .row1 .col2 {
  width: 66.6%;
  height: 18%;
  display: flex;
  flex-direction: row;
}
.session3 .row1 .col2-row1 {
  width: 100%;
  height: 100%;
}
.session3 .row1 .col2-row2 {
  width: 100%;
  height: 100%;
}

.session3 .row1 .col3 {
  width: 66.6%;
  height: 18%;
  display: flex;
  flex-direction: row;
}

.session3 .row1 .col4 {
  width: 66.6%;
  height: 18%;
  display: flex;
  flex-direction: row;
}

.session3 .row1 .col5 {
  width: 66.6%;
  height: 18%;
  display: flex;
  flex-direction: row;
}

.session3 .row1 .col6 {
  width: 66.6%;
  height: 18%;
  display: flex;
  flex-direction: row;
}

.session3 .row2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.session3 .row2 .row2-row1 {
  width: 49.9%;
  height: 100%;
}
.session3 .row2 .row2-row1 .col1 {
  width: 100%;
  height: 5%;
}
.session3 .row2 .row2-row1 .col2 {
  width: 100%;
  height: 18%;
}
.session3 .row2 .row2-row1 .col3 {
  width: 100%;
  height: 34%;
  display: flex;
  flex-direction: row;
}
.session3 .row2 .row2-row1 .col3 .col3-row1 {
  width: 30%;
  height: 100%;
}
.session3 .row2 .row2-row1 .col3 .col3-row2 {
  width: 70%;
  height: 100%;
}

/* session 4 */
.session4 {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.session4 .col1 {
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
}
.session4 .col2 {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: row;
}
.session4 .col2 .row1 {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.session4 .col2 .row1 .row1-col1 {
  height: 5%;
  width: 100%;
}
.session4 .col2 .row1 .row1-col2 {
  height: 95%;
  width: 100%;
}
.session4 .col2 .row1 .row1-col2 {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.session4 .col2 .row1 .row1-col2 .col2-row1 {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session4 .col2 .row1 .row1-col2 .col2-row1 .col2-row1-col {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
}
.session4 .col2 .row1 .row1-col2 .col2-row2 .col2-row1-col {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
}
.u {
  text-decoration: underline;
  text-underline-position: under;
}
.session4 .col2 .row1 .row1-col2 .col2-row2 {
  width: 30%;
  height: 100%;
}
.session4 .col2 .row2 {
  height: 100%;
  width: 3%;
}
.session4 .col2 .row3 {
  height: 100%;
  width: 16%;
  display: flex;
  flex-direction: column;
}
.session4 .col2 .row3 .row1-col1 {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
}
.session4 .col2 .row3 .row1-col2 {
  height: 95%;
  width: 100%;
}
.session4 .col2 .row3 .row1-col2 .row1-col2-col {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
}
.session4 .col2 .row4 {
  height: 100%;
  width: 14%;

}

/* ------------------ page 2  ------------------ */

.boxs2 {
  position: absolute;
  width: 10.8in;
  height: 6.8in;
  z-index: 1;
}

.boxs2 .allCol {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.session5 {
  width: 100%;
  height: 7%;
  border: 1px #000 solid;
  display: flex;
  flex-direction: row;
}
.session5 .row1 {
  display: flex;
  justify-content: center;
  width: 9%;
  height: 100%;
}
.session5 .row1 img {
  height: 100%;
  width: 70%;
  transform: scale(1.6);
}
.session5 .row2 {
  width: 91%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.session5 .row2 .row2-row1 {
  width: 50%;
  height: 100%;
}
.session5 .row2 .row2-row2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.session5 .row2 .row2-row2 .row2-row2-row {
  width: 26%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session5 .row2 .row2-row2 .row2-row2-row .row2-row2-row-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}
.session5 .row2 .row2-row2 .row2-row2-rows {
  width: 22%;
  height: 100%;
}
.session6 {
  width: 100%;
  height: 5%;
  margin-left: 2px;
  display: flex;
  align-items: end;
}
.session7 {
  width: 100%;
  height: 10%;
  border: 1px #000 solid;
}
.session7 .col {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.session7 .col .col-row {
  width: 6%;
  height: 100%;
}
.session7 .col .col-row1 {
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session7 .col .col-row1 .col-row1-col{
  width: 100%;
  height: 50%;
}
.session7 .col .col-row1 .col-row1-cols{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.session7 .col .col-row1 .col-row1-cols .rows{
  width: 50%;
  height: 100%;
}
.session7 .col .col-rows {
  width: 10.4%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session7 .col .col-rows .col-rows-col {
  width: 100%;
  height: 50%;
  text-align: center;
}
.session7 .col .col-rows .col-rows-cols {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.session7 .col .col-rows .col-rows-cols {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.session7 .col .col-rows .col-rows-cols .col-rows-cols-rows {
  width: 33.3%;
  height: 100%;
}
.session8 {
  width: 100%;
  height: 78%;
  display: flex;
  flex-direction: row;
}
.session8 .row {
  width: 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session8 .row .row-col {
  width: 100%;
  height: 3.8%;
}
.session8 .rows {
  width: 10.4%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session8 .rows .rows-col{
  width: 100%;
  height: 3.8%;
  display: flex;
  flex-direction: row;
}
.session8 .rows .rows-col .rows-col-row{
  width: 33.3%;
  height: 100%;
}

.session9 {
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
}
.session9 .row1 {
  display: flex;
  justify-content: center;
  width: 9%;
  height: 100%;
}
.session9 .row1 img {
  height: 100%;
  width: 70%;
  transform: scale(1.6);
}
.session9 .row2 {
  width: 91%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.session9 .row2 .row2-row1 {
  width: 50%;
  height: 100%;
}
.session9 .row2 .row2-row2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.session9 .row2 .row2-row2 .row2-row2-row {
  width: 26%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session9 .row2 .row2-row2 .row2-row2-row .row2-row2-row-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}
.session9 .row2 .row2-row2 .row2-row2-rows {
  width: 22%;
  height: 100%;
}
.session10 {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.pl {
  padding-left: 2px;
}

.session11 {
  width: 100%;
  height: 67%;
  display: flex;
  flex-direction: column;
}
.session11 .col {
  width: 100%;
  height: 7.9%;
  display: flex;
  flex-direction: row;
}
.session11  .col-row1 {
  width: 9%;
  height: 100%;
}
.session11  .col-row2 {
  width: 55%;
  height: 100%;
}
.session11  .col-row3 {
  width: 18%;
  height: 100%;
}
.session11 .cols {
  width: 100%;
  height: 4.3%;
  display: flex;
  flex-direction: row;
}

.session12 {
  width: 100%;
  height: 21%;
  display: flex;
  flex-direction: row;
}
.session12 .row1{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.session12 .row1 .row1-col{
  width: 100%;
  height: 12%;
}
.session12 .row2{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.session12 .row2 .row1-col{
  width: 100%;
  height: 11%;
}
.session12 .row3{
  width: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.session12 .row4{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
.session12 .row4 .row4-row{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
}
.session12 .row4 .row4-row .row4-row-col1{
  width: 100%;
  height: 30%;
}
.session12 .row4 .row4-row .row4-row-col2{
  width: 100%;
  height: 50%;
}
.session12 .row4 .row4-row .row4-row-col3{
  width: 100%;
  height: 20%;
}